@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Seu sistema de agendamento de consultas online</p>
</div>


<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="https://blog.labcac.com.br/wp-content/uploads/2017/08/109117-aproveite-seu-medico-confira-essas-dicas-para-uma-boa-consulta-medica.jpg" class="card-img-top" alt="Agendar Consulta">
                <div class="card-body">
                    <h5 class="card-title">Agendar uma consulta</h5>
                    <p class="card-text">Agende sua consulta através do nosso sistema, de forma simples e rápida.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Agendar Agora</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Ver Consultas">
                <div class="card-body">
                    <h5 class="card-title">Ver Consultas</h5>
                    <p class="card-text">Veja e gerencie suas consultas agendadas facilmente.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Ver Consultas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Consultas Passadas">
                <div class="card-body">
                    <h5 class="card-title">Consultas Passadas</h5>
                    <p class="card-text">Acesse o histórico das suas consultas passadas e seus resultados.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Ver Histórico</a>
                </div>
            </div>
        </div>
    </div>
</div>
